index.html
<!DOCTYPE html><html><head><title>Test</title><link rel="stylesheet" href="style.css"></head><body><div class="wrapper"><div class="green">1</div><div class="red">2</div><div class="green">3</div><div class="red">4</div><div class="green">5</div><div class="red">6</div><div class="green">7</div><div class="red">8</div><div class="green">9</div><div class="red">10</div><div class="green">11</div><div class="red">12</div></div><ul><li>книга 1</li><li>книга 2</li><li>книга 3</li><li>книга 4</li><li>книга 5</li><li>книга 6</li><li>книга 7</li><li>книга 8</li><li>книга 9</li><li>книга 10</li></ul></body></html>

index.pug
doctype html
html
    head
        title Test
        link(rel="stylesheet", href="style.css")
    body
        - var i = 1;
        div.wrapper
            while i < 13
                if i % 2 == 0
                    div.red= i++
                else
                    div.green= i++
        include list.pug
                
